@model string

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="container" style="margin-top:100px">
<h2>Quên mật khẩu</h2>
    Nhập đúng email đã đăng ký tài khoản của bạn
    <div class="row">
        <div class="col-md-8">
    @if (!string.IsNullOrEmpty(Model))
    {
        <p class="text-danger">@Model</p>
    }

    <form method="post" asp-action="ForgotPassword">
        <div class="form-group">
            <label for="email" >Email:</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </form>

    </div>
    </div>
</div>